node_modules

.DS_Store
.cache
.env
.env.local
.env.prod
.vercel
.output

/build/
/public/build
/.next/
/out/
*.tsbuildinfo

fdw.sql
archives/**/*
!archives/sample/
!archives/sample/**

# Supabase
.branches
.temp
